# Global snippets

# time
snippet dte
	`strftime("%d/%m/%Y")`

# attentions  
snippet todo
	TODO: ${1}
snippet fixme
	FIXME: ${1}
snippet xxx
	XXX: ${1}
snippet hack
	HACK: ${1}
snippet note
	NOTE: ${1}
snippet bug
	BUG: ${1}

