#links
snippet ln
	[${1:text}](${2:http://})
snippet lnt
	[${1:text}](${2:http://} "${3:title}")
snippet lnl
	[${1:text}]: ${2:http://}
snippet lnlt
	[${1:text}]: ${2:http://} "${3:title}"
snippet lni
	[${1:text}] [${2:id}]

# images
snippet im
	![${1:alt}](${2:http://})
snippet imt
	![${1:alt}](${2:http://} "${3:title}")
snippet imi
	![${1:alt}] [${2:id}]
