snippet ln
	[${1:text}](${2:http://})
snippet lnt
	[${1:text}](${2:http://} "${3:title}")
snippet lnl
	[${1:text}]: ${2:http://}
snippet lnlt
	[${1:text}]: ${2:http://} "${3:title}"
snippet lni
	[${1:text}] [${2:id}]
